* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    margin: 0 5%;
}

/*Header*/

.page_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #292929;
    border-bottom: 3px solid #00BC8B;
    overflow: auto;
    padding: 15px;
}
.page_header_label {
    float: left;
    width: 50%;
}
.page_header_label p {
    margin: 0;
    text-decoration: none;
    color: #c8c8c8;
    font-size: 2rem;
    line-height: 30px;
}

.page_header_logoff {
    float: right;
    width: 50%;
}
.page_header_logoff form {
    float: right;
}
.log_off {
    width: 90px;
    height: 30px;
    padding: 6px;
    background-color: #00BC8B;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.log_off:hover,
.log_off:active,
.log_off:focus {
    background-color: #00EDAE;
    outline: 0;
}
.log_off:active {
    -ms-transform: scale(0.94, 0.94);
    /* IE 9 */
    -webkit-transform: scale(0.94, 0.94);
    /* Safari */
    transform: scale(0.94, 0.94);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
/*Sidebar navigation*/
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 270px;
    padding: 20px 0;
    background-color: #292929;
}
.navigation_bar ul {
    list-style: none;
    padding: 0;
    position: relative;
}
.navigation_bar li {
    height: 50px;
    width: 95%;
    margin: 10px -5% 0;
    padding: 0 20px;
    background-color: #00BC8B;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.navigation_bar li:hover {
    margin: 10px 0;
    background-color: #00EDAE;
}
.navigation_bar a {
    display: block;
    width: 100%;
    padding-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
}

/*Content section*/

.content {
    padding-left: 270px;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
}