* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    margin: 0 10%;
    padding: 10px;
    overflow: auto;
}

/*Header*/

.page_header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #292929;
    border-bottom: 3px solid #00BC8B;
    overflow: auto;
    padding: 5px;
}
.toggle_ancher {
    display: none;
}
.page_header_label {
    float: left;
    width: 50%;
}
.page_header_label p {
    margin: 0;
    line-height: 50px;
}
.page_header_label a {
    text-decoration: none;
    color: #c8c8c8;
    font-size: 2rem;
    transition: .3s;
 }
.page_header_label a:hover {
    color: #00BC8B;
}
.page_header_logoff {
    float: right;
    width: 50%;
}
.page_header_logoff form {
    float: right;
}
.log_off {
    width: 100px;
    height: 40px;
    padding: 6px;
    margin-top: 5px;
    border-radius: 2px;
    background-color: #00BC8B;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.22);
}
.log_off:hover,
.log_off:active,
.log_off:focus {
    background-color: #00d59e;
    outline: 0;
}
.log_off:active {
    -ms-transform: scale(0.94, 0.94);
    /* IE 9 */
    -webkit-transform: scale(0.94, 0.94);
    /* Safari */
    transform: scale(0.94, 0.94);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
/*Sidebar navigation*/
.sidebar {
    position: fixed;
    z-index: 10;
    top: 80px;
    left: 0;
    height: 100%;
    width: 270px;
    padding: 20px 0;
    background-color: #292929;
    transition: .3s;
}
.navigation_bar ul {
    list-style: none;
    padding: 0;
    position: relative;
}
.navigation_bar li {
    height: 50px;
    width: 95%;
    margin: 10px -10% 0;
    padding: 0 20px;
    background-color: #00BC8B;
    font-weight: bold;
    border-radius: 0 2px 2px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.tab_list li.selected_tab {
    background-color: #bc4e47;
}
.tab_list:hover .selected_tab {
    margin: 10px -10% 0;
}
.tab:hover,
.tab_list li.selected_tab,
.tab_list li.selected_tab:hover {
    margin: 10px 0;
}
.tab:hover {
    background-color: #00d59e;
}

.navigation_bar a {
    display: block;
    width: 100%;
    padding-left: 15%;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
}

/*Content section*/

.content {
    padding-left: 270px;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
}

/*Media query*/
@media screen and (max-width: 920px){
    .page_header_label a {
        color: #fff;
    }
    .page_header_label {
        padding: 7px 0;
        color: #fff;
    }
    .toggle_ancher {
        display: inline-block;
    }
    .welcome_title {
        display: none;
    }
    .sidebar {
        left: -270px;
    }
    .content {
        padding-left: 0;
    }
}
