
.projects_amount {
    color: #00BC8B;
    text-align: center;
}
.projects_number {
    font-size: 9rem;
    margin: 40px;
}
.project_number_label {
    font-size: 2rem;
}
.technologies {
    color: #00BC8B;
    background: #00BC8B;
    margin: 40px 0;
    padding: 60px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}
.technologies_section_label {
    color: #fff;
    font-size: 4rem;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.technologies_body {
    margin-top: 40px;
}
.technologies p {
    color: #919294;
    line-height: 3rem;

}
.technologies h4 {
    font-style: normal;
}
.technologies .technologies_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.technology_type {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    padding: 30px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    border-radius: 10px;
}
.technology_type:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.technology_type i {
    font-size: 10rem;
}
.technology_type h4 {
    font-size: 2rem;
    margin: 0;
}